In [1]:
# The code was removed by Watson Studio for sharing.

,P000632429P,International Christian Centre,0005 00006,19-08-19,4,Bus hire,"8,000.00"
0,NaN,Wealthsmith Ltd,0005 00004,19-08-19,5,Bus hire,"21,551.72"
1,NaN,Kabiru Tours,0005 00003,19-08-19,7,Bus hire,"13,793.10"
2,NaN,Kabiru Tours,0005 00002,19-08-19,6,Bus hire,"14,655.17"
3,P000632429P,International Christian Centre,0005 00005,19-08-19,2,Bus hire,"17,000.00"
4,P000632429P,International Christian Centre,0005 00001,19-08-19,10,Bus hire,"250,000.00"